
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ошибка входа</h2>
<h4>Обратитесь к админестратору для разъяснения причин отсутствия доступа и/или пояснения возникшей ошибки</h4>