@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ServiceReclamations/Views/Shared/_LayoutTimeSC.cshtml";
}

<head>

</head>


<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <p>Рекламации</p>
            <a href="http://pserver/ServiceReclamations/Marks/Index" title=""><img src="~/Areas/ServiceReclamations/Content/portrait-middle-aged-businessman-with-digital-tablet-factory_52137-7803.jpg" class="img-responsive" alt="Cinque Terre"></a>
        </div>
        @*<div class="col-lg-2">
            <p>ШМР/ПНР</p>
            <a href="http://tpserver/PWA/ProjectBICenter/Lists/List32/AllItems.aspx" title=""><img src="~/Areas/ServiceReclamations/Content/interior-view-steel-factory_1359-113.jpg" class="img-responsive" alt="Cinque Terre"></a>
        </div>*@
    </div>
</div>