
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ServiceReclamations/Views/Shared/_LayoutTimeSC.cshtml";
}

    <div class="container">
        <h2>Image</h2>
        <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
        <img src="cinqueterre.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236">
    </div>
    <div class="container">
        <h2>Image</h2>
        <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
        <img src="cinqueterre.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236">
    </div>