@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/DashboardD/Views/Shared/_LayoutDashboardD.cshtml";
}
<head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="~/Content/Highcharts/highcharts.js"></script>
    <script src="~/Content/Highcharts/highcharts-more.js"></script>
    <script src="~/Content/Highcharts/exporting.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/bullet.js"></script>
    <script src="~/Areas/DashboardD/Content/Dd.js?v.0.0"></script>
</head>

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <h5 id="periodReportString" style="font-weight: bold; color: #910000;"></h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" style="border-style: groove;">
        <div id="generalD"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4" style="border-style: groove;">
        <div id="rateToMonth"></div>
    </div>
    <div class="col-lg-4" style="border-style: groove;">
        <div id="rateQuart"></div>
    </div>
    <div class="col-lg-4" style="border-style: groove;">
        <div id="sumRateToYear"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-1" style="border-style: groove"><div id="cilSSW"></div></div>
    <div class="col-lg-1" style="border-style: groove"><div id="cilPK"></div></div>
    <div class="col-lg-1" style="border-style: groove"><div id="cilPI"></div></div>
    <div class="col-lg-1" style="border-style: groove"><div id="cilIK"></div></div>
    <div class="col-lg-1" style="border-style: groove"><div id="cilSSM"></div></div>
    <div class="col-lg-1" style="border-style: groove"><div id="cilS1"></div></div>
    <div class="col-lg-1" style="border-style: groove"><div id="cilS2"></div></div>
    <div class="col-lg-1" style="border-style: groove"><div id="cilFull"></div></div>
</div>

<div class="row">
    <div class="col-lg-6" style="border-style: groove"><div id="mSSW"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yLSSW"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yTSSW"></div></div>
</div>

<div class="row">
    <div class="col-lg-6" style="border-style: groove"><div id="mPK"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yLPK"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yTPK"></div></div>
</div>

<div class="row">
    <div class="col-lg-6" style="border-style: groove"><div id="mPI"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yLPI"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yTPI"></div></div>
</div>

<div class="row">
    <div class="col-lg-6" style="border-style: groove"><div id="mIK"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yLIK"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yTIK"></div></div>
</div>

<div class="row">
    <div class="col-lg-6" style="border-style: groove"><div id="mSSM"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yLSSM"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yTSSM"></div></div>
</div>

<div class="row">
    <div class="col-lg-6" style="border-style: groove"><div id="mS1"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yLS1"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yTS1"></div></div>
</div>

<div class="row">
    <div class="col-lg-6" style="border-style: groove"><div id="mS2"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yLS2"></div></div>
    <div class="col-lg-3" style="border-style: groove"><div id="yTS2"></div></div>
</div>