
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/DashboardD/Views/Shared/_LayoutDashboardD.cshtml";
}
<head>
    <script src="~/Areas/DashboardD/Content/Dd.js?v.0.0"></script>
</head>

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <h5 id="periodReportString" style="font-weight: bold; color: #910000;"></h5>
        </div>
    </div>
</div>