
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/UsersKO/Views/Shared/_LayoutUsersKO.cshtml";
}
<head>
    <script src="~/Areas/CMO/Content/CMO.js?v1.1"></script>
    <script src="~/Areas/UsersKO/Content/UsersKO.js?v0.0"></script>
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://tpserver/PWA/Projects.aspx">Проекты</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a style="color:crimson" href="/Account/Login/">
                    @{Html.RenderAction("RenderUserMenu", "UserKO"); }
                </a>
            </li>
        </ul>
    </div>
</nav>