@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/DashboardBP/Views/Shared/_LayoutDashboardBP.cshtml";
}
<head>
    <script src="~/Content/Highcharts/highcharts-gantt.js"></script>
    <script src="~/Content/Highcharts/exporting.js"></script>
    <script src="~/Areas/DashboardBP/Content/DashboardBPJS.js"></script>
</head>
<div id="periodReport"></div>
<div id="projectPortfolio"></div>