@model Wiki.CMO_importExcel_All

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@using (Html.BeginForm("UploadTenderProtocol", "CMO2", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form action="/CMO2/UploadTenderProtocol" enctype="multipart/form-data" method="post">
        <br />
        <br />
        <label>Загрузка файлов:</label>
        <br />
        <input accept="file/*" id="fileUpload" multiple="multiple" name="fileUpload" type="file" />
        <br />
        <input type="submit" value="Отправить" />
    </form>
}
<h1></h1>
<span>
    <a href="~/CMO2/WorkDeskOS" class="btn btn-danger" role="button">Отменить</a>
</span>
</body>
</html>
