@model Wiki.RKD_Question

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutRKD.cshtml";
}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h2>Задать вопрос по РКД</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div style="width:1400px;">
                <br />
                @Html.HiddenFor(model => model.id_RKD_Order)
                <p>Вопрос</p>
                @Html.TextAreaFor(model => model.textQuestion, new { @class = "form-control", style = "height:250px;" })
                <br />
                <input type="submit" value="Отправить" class="btn btn-info" />
            </div>
        }
    </div>
    <div class="col-sm-1"></div>
</div>
