@model Wiki.RKD_Despatching
@{
    ViewBag.Title = "ErrorNewVersionRDK";
    Layout = "~/Views/Shared/_LayoutRKD.cshtml";
}
<head>
    <style>
        .container {
            max-width: none !important;
            width: 970px;
        }

        .form-control {
            max-width: none !important;
            width: 970px;
        }
        
    </style>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="container">
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.id_RKD_Order)
        Описание замечания:
        @Html.TextAreaFor(model => model.text, new { @class = "form-control", @cols = 1400, @rows = 5 })
        <br />
        <br />
        <input type="submit" value="Отправить" class="btn btn-info" />
    </div>
</div>

}
