
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutRKD.cshtml";
}

<h2>Ошибка входа</h2>
<h4>Обратитесь к администратору для разъяснения причин отсутствия доступа и/или пояснения возникшей ошибки</h4>