@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/VerifPlan/Views/Shared/_LayoutVerifPlan.cshtml";
}
<head>
    <script src="~/Content/globalScript.js?v0.1"></script>
    <script src="~/Areas/VerifPlan/Content/VerifPlan.js?v1.2.2"></script>
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://tpserver/PWA/Projects.aspx">Проекты</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a onclick="return loadData(1);">Неотгруженные заказы</a></li>
            <li><a onclick="return loadData(2);">Отгруженные заказы</a></li>
            <li><a href="~/Areas/VerifPlan/Content/Report.xlsx">Загрузить отчет</a></li>
            <li>
                <a style="color:crimson" href="/Account/Login/">
                    @{Html.RenderAction("RenderUserMenu", "Verific"); }
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-md-12">
        <table id="myTable" class="table table-hover table-striped" style="width:100%;"></table>
    </div>
</div>
<div id="verifModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-10">
                    @*<h4>Изменить коэффициент сотрудника:</h4>*@
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Ид. записи:</label>
                        <input type="text" class="form-control" id="id" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>№ заказа:</label>
                        <input type="text" class="form-control" id="id_PZ_PlanZakaz" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Текущий статус:</label>
                        <input type="text" class="form-control" id="state" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Плановая дата начала проверки (prj):</label>
                        <input type="text" class="form-control" id="verificationDateInPrj" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Плановая дата отгрузки (prj):</label>
                        <input type="text" class="form-control" id="dateSh" disabled="disabled" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Плановый срок передачи на проверку:</label>
                        <input type="text" class="form-control" id="planDate" />
                    </div>
                    <div class="col-lg-10">
                        <label>Прим.:</label>
                        <textarea rows="5" id="planDescription" class="form-control"></textarea>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Фактическая дата передачи на проверку:</label>
                        <input type="text" class="form-control" id="factDate" />
                    </div>
                    <div class="col-lg-2">
                        <label>Прогнозная дата передачи на проверку:</label>
                        <input type="text" class="form-control" id="fixedDateForKO" />
                    </div>
                    <div class="col-lg-8">
                        <label>Прим.:</label>
                        <textarea rows="5" id="factDescription" class="form-control"></textarea>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Дата начала приемки изделия ОТК:</label>
                        <input type="text" class="form-control" id="appDate" />
                    </div>
                    <div class="col-lg-10">
                        <label>Прим.:</label>
                        <textarea rows="5" id="appDescription" class="form-control"></textarea>
                    </div>
                </div>
                <hr />
                <div class="col-md-12">
                    <table id="myTableLog" class="table table-hover table-striped" style="width:100%;"></table>
                </div>
                <hr />
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary" id="btnUpdateTE" onclick="updateTE();">Обновить</button>
                        <button type="button" class="btn btn-primary" id="btnUpdateOTK" onclick="updateOTK();">Обновить</button>
                        <button type="button" class="btn btn-primary" id="btnUpdateTM" onclick="updateTM();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".modal-wide").on("show.bs.modal", function () {
        var height = $(window).height() - 200;
        $(this).find(".modal-body").css("max-height", height);
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#planDate').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#factDate').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#fixedDateForKO').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#appDate').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>