@model Wiki.Debit_WorkBit
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Deb/Views/Shared/_LayoutDeb.cshtml";
}
<head>
    <script src="~/Areas/Deb/Contant/Upload.js?v1.0"></script>
    <style>
        .modal.modal-wide .modal-dialog {
            width: 90%;
        }
        .modal-wide .modal-body {
            overflow-y: auto;
        }
        .colu-200 {
            min-width: 200px;
        }
        .colu-300 {
            min-width: 300px;
        }
    </style>
</head>
<button type="button" class="btn-xs btn-primary" data-toggle="modal" onclick="getbyID();">Внести предоплату</button>
<div class="row">
    <div class="col-md-12">
        <table id="myTable" class="table table-hover table-striped" style="width:100%;"></table>
    </div>
</div>
<div id="createTask38" class="modal modal-wide fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label for="Orders">Заказы:</label>
                        @Html.ListBox("PZ", ViewBag.PZ as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnCreateTask38" onclick="return CreateTask38();">Добавить задачу</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Content/Chosen/chosen.jquery.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Chosen/chosen.css")" rel="stylesheet" type="text/css" />
<script>
    $(".chosen-select").chosen({
        placeholder_text_multiple: "Нажмите для выбора...",
        no_results_text: 'Не найдено: ',
        allow_single_deselect: true, disable_search_threshold: 5, width: "100%"
    });
</script>