
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Загрузить данные</h4>
@Html.ActionLink("Загрузить", "UploadFoundationNorm", null, new { @class = "btn btn-info" })

