@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Service/Views/Shared/_LayoutService.cshtml";
}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
        <div class="thumbnail">
            <a href="/Service/ServiceReclamation/Index">
                <img src="~/Areas/Service/Content/tmp.jpg" alt="Reclamation" style="width:100%">
                <div class="caption">
                    <p>Раздел по работе с заказами.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="thumbnail">
            <a href="/Service/ServiceReclamation/Index">
                <img src="~/Areas/Service/Content/underConst.png" alt="Reclamation" style="width:100%">
                <div class="caption">
                    <p>Модуль для работы с постотгрузочными рекламациями.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="thumbnail">
            <a href="/Service/ServiceReclamation/Index">
                <img src="~/Areas/Service/Content/tmp.jpg" alt="Reclamation" style="width:100%">
                <div class="caption">
                    <p>Текущие коммандировки по заданиям.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="thumbnail">
            <a href="/Service/ServiceReclamation/Index">
                <img src="~/Areas/Service/Content/tmp.jpg" alt="Reclamation" style="width:100%">
                <div class="caption">
                    <p>Отчеты по деятельности сервисного центра.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="thumbnail">
            <a href="/Service/ServiceAdmin/Index">
                <img src="~/Areas/Service/Content/tmp.jpg" alt="Reclamation" style="width:100%">
                <div class="caption">
                    <p>Панель управления справочниками.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>