@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Service/Views/Shared/_LayoutServiceAdmin.cshtml";
}
<table class="table">
    <tbody>
    <tr>
        <td>
            <h4>Рекламации</h4>
            <a href="/Service/Service_TypeReclamation/Index"><p>Тип рекламации</p></a>
            <a href="/Service/Service_TypeReclamationDocument/Index"><p>Тип рекламационного документа</p></a>
            <a href="/Service/Service_ReclamationCounterError/Index"><p>Оценка степени ошибки</p></a>
            <a href="/Service/Service_ReclamationWhoAdd/Index"><p>Источник рекламации</p></a>
            <a href="/Service/Service_TypeCorrespondence/Index"><p>Тип корреспонденции</p></a>
        </td>
    </tr>
    </tbody>
</table>