@{
    Layout = "~/Areas/Service/Views/Shared/_LayoutService.cshtml";
}
<head>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
</head>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h4>Рекламации</h4>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">@RenderBody()</div>
    <div class="col-sm-1"></div>
</div>