@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/DashboardTV/Views/Shared/_LayoutDashboardTV.cshtml";
}
<head>
    <style>
        #container {
            max-width: 1200px;
            min-width: 800px;
            height: 400px;
            margin: 1em auto;
        }
        .scrolling-container {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
        .highlightColor {
            background-color: #c42525;
            color: white;
        }
    </style>
    <link href="~/Areas/PZ/Contant/DataTable/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Areas/PZ/Contant/DataTable/DataTables-1.10.18/css/dataTables.foundation.css" rel="stylesheet" />
    <script src="~/Areas/PZ/Contant/DataTable/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="~/Areas/PZ/Contant/DataTable/DataTables-1.10.18/js/dataTables.foundation.js"></script>
    <link href="~/Areas/PZ/Contant/fixedColomnBootstrap/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Areas/PZ/Contant/fixedColomnBootstrap/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/PZ/Contant/fixedColomnBootstrap/dataTables.fixedColumns.min.js"></script>
    <script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
    <script src="https://code.highcharts.com/gantt/modules/exporting.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="~/Areas/DashboardTV/Content/DashboardTV.js?v0.6"></script>
</head>
<div class="row">
    <div class="col-lg-12">
        <h5 id="periodReportString" style="font-weight: bold; color: #910000"></h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="projectPortfolio"></div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6">
        <h5 style="font-weight: bold; text-align: center; color: #910000">План передачи изделий на проверку</h5>
        <table id="tablePlanChack" class="table table-hover table-striped"></table>
    </div>
    <div class="col-lg-6">
        <h5 style="font-weight: bold; text-align: center; color: #910000">План освоения материалов (ХСС)</h5>
        <table id="tablePlan" class="table table-hover table-striped"></table>
    </div>
</div>