@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/VisualizationBP/Views/Shared/_LayoutVisualizationBP.cshtml";
}
<head>
    <script src="~/Content/Highcharts/highcharts-gantt.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="~/Content/Highcharts/exporting.js"></script>
    <script src="~/Areas/VisualizationBP/Content/VBP.js?v.0.1"></script>
</head>
<button type="button" class="btn-xs btn-primary" id="btnGetGanttProjects" onclick="return getGanttProjects();">2019</button>
<div class="row">
    <div class="col-lg-12">
        <h5 id="periodReportString" style="font-weight: bold; color: #910000"></h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="projectPortfolio"></div>
    </div>
</div>