@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/VisualizationBP/Views/Shared/_LayoutVisualizationBP.cshtml";
}
<head>
    <style>
        .highlightColor {
            background-color: #c42525;
            color: white;
        }
    </style>
    <link href="~/Areas/PZ/Contant/DataTable/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Areas/PZ/Contant/DataTable/DataTables-1.10.18/css/dataTables.foundation.css" rel="stylesheet" />
    <script src="~/Areas/PZ/Contant/DataTable/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="~/Areas/PZ/Contant/DataTable/DataTables-1.10.18/js/dataTables.foundation.js"></script>
    <link href="~/Areas/PZ/Contant/fixedColomnBootstrap/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Areas/PZ/Contant/fixedColomnBootstrap/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/PZ/Contant/fixedColomnBootstrap/dataTables.fixedColumns.min.js"></script>
    <script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
    <script src="https://code.highcharts.com/gantt/modules/exporting.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="~/Areas/VisualizationBP/Content/VBP.js?0.4"></script>
</head>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <h5 id="periodReportString" style="font-weight: bold; color: #910000"></h5>
        </div>
        <div class="col-lg-9">
            <div class="col-lg-2">
                <div id="hSSPlanToYear"></div>
            </div>
            <div class="col-lg-2">
                <div id="ratePlanToYear"></div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-2">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">


    </div>
</div>

<div class="row">
    <div class="col-lg-5" style="height: 500px; overflow-y: scroll;">
        <div id="projectPortfolio"></div>
    </div>
    <div class="col-lg-7"></div>
</div>

<div class="row" style="height: 50px">
    <div class="col-lg-6">
        <table id="tablePlan" class="table table-hover table-striped"></table>
    </div>
</div>