@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/VisualizationBP/Views/Shared/_LayoutVisualizationBP.cshtml";
}
<head>
    <style>
        .colorTdTaskThisDay { background-color: #3fb0ac; color: #fff; }
        .colorTdVarianceTaskThisDay { background-color: #ffc7ce; color: #9c0006; }
        .card { background-color: #fff; border: 1px solid transparent; border-radius: 6px; }
        .card > .card-link { color: #333; }
        .card > .card-link:hover { text-decoration: none; }
        .card > .card-link .card-img img { border-radius: 6px 6px 0 0; }
        .card .card-img { position: relative; padding: 0; display: table; }
        .card .card-img .card-caption { position: absolute; right: 0; bottom: 16px; left: 0; }
        .card .card-body { display: table; width: 100%; padding: 4px; font-size: 13px }
        .card .card-header { border-radius: 6px 6px 0 0; padding: 4px; }
        .card .card-footer { border-radius: 0 0 6px 6px; padding: 4px; }
        .card .card-left { position: relative; float: left; padding: 0 0 4px 0; }
        .card .card-right { position: relative; float: left; padding: 4px 0 0 0; }
        .card .card-body h1:first-child,
        .card .card-body h2:first-child,
        .card .card-body h3:first-child,
        .card .card-body h4:first-child,
        .card .card-body .h1,
        .card .card-body .h2,
        .card .card-body .h3, 
        .card .card-body .h4 { margin-top: 0}
        .card .card-body .heading { display: block;  }
        .card .card-body .heading:last-child { margin-bottom: 0; }
        .card .card-body .lead { text-align: center; }
        .card-default { border-color: #ddd; background-color: #fff; margin-bottom: 24px; }
        .card-default > .card-header,
        .card-default > .card-footer { color: #333; background-color: #ddd; }
        .card-default > .card-header { border-bottom: 1px solid #ddd; padding: 4px; }
        .card-default > .card-footer { border-top: 1px solid #ddd; padding: 4px; }
        .card-default > .card-body { background-color: #f8f8f8; }
        .card-default > .card-img:first-child img { border-radius: 6px 6px 0 0; }
        .card-default > .card-left { padding-right: 4px; }
        .card-default > .card-right { padding-left: 4px; }
        .card-default p:last-child { margin-bottom: 0; }
        .card-default .card-caption { color: #fff; text-align: center; text-transform: uppercase; }
        .card-price { border-color: #999; background-color: #ededed; margin-bottom: 24px; }
        .card-price > .card-heading,
        .card-price > .card-footer { color: #333; background-color: #fdfdfd; }
        .card-price > .card-heading { border-bottom: 1px solid #ddd; padding: 4px; }
        .card-price > .card-footer { border-top: 1px solid #ddd; padding: 4px; }
        .card-price > .card-img:first-child img { border-radius: 6px 6px 0 0; }
        .card-price > .card-left { padding-right: 4px; }
        .card-price > .card-right { padding-left: 4px; }
        .card-price .card-caption { color: #fff; text-align: center; text-transform: uppercase; }
        .card-price p:last-child { margin-bottom: 0; }
        .card-price .price { text-align: center;  color: #337ab7; font-size: 3em; text-transform: uppercase; line-height: 0.7em;  margin: 24px 0 16px; }
        .card-price .price small { font-size: 0.4em; color: #66a5da; }
        .card-price .details { list-style: none; margin-bottom: 24px; padding: 0 18px; }
        .card-price .details li { text-align: center; margin-bottom: 8px; }
        .card-price .buy-now { text-transform: uppercase; }
        .card-price table .price { font-size: 0.8em; font-weight: 700; text-align: left; }
        .card-price table .note { color: #999; font-size: 0.8em; }
    </style>
    <script src="~/Scripts/moment.min.js"></script>
    <link href="~/Areas/PZ/Contant/DataTable/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Areas/PZ/Contant/DataTable/DataTables-1.10.18/css/dataTables.foundation.css" rel="stylesheet" />
    <script src="~/Areas/PZ/Contant/DataTable/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="~/Areas/PZ/Contant/DataTable/DataTables-1.10.18/js/dataTables.foundation.js"></script>
    <link href="~/Areas/PZ/Contant/fixedColomnBootstrap/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Areas/PZ/Contant/fixedColomnBootstrap/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/PZ/Contant/fixedColomnBootstrap/dataTables.fixedColumns.min.js"></script>
    <script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
    <script src="https://code.highcharts.com/gantt/modules/exporting.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="~/Content/globalScript.js?v1.4"></script>
    <script src="~/Areas/VisualizationBP/Content/VBP.js?0.22"></script>
</head>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <h5 id="periodReportString" style="font-weight: bold; color: #910000;"></h5>
            <h5 id="commentsLink" style="font-weight: bold; color: #910000"; onclick="GetCommentsListNow();"></h5>
        </div>
        <div class="col-lg-9" id="yearBlock" style="border-color: black; border-style: solid; border-width: thin;">
            <h5 style="font-weight: bold; color: #910000;">Суммарные показатели (текущий год)</h5>
            <div class="col-lg-2">
                <div id="hSSPlanToYear"></div>
            </div>
            <div class="col-lg-2">
                <div id="remainingHSS"></div>
            </div>
            <div class="col-lg-2">
                <div id="noPlaningHSS"></div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <div id="projectPortfolio"></div>
    </div>
    <div class="col-lg-7" style="height: 460px; margin-top: 13px;">
        <div class="col-lg-12">
            <table id="tableTasksThisDay" class="display compact" style="width:100%; font-size: 11px;"></table>
        </div>
        <hr style="margin-top: 13px;" />
        <div class="col-lg-12" style="margin-top: 13px;">
            <table id="tableVarianceTasks" class="display compact" style="width:100%; font-size: 11px;"></table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-5" style="margin-top: 6px;">
            <h5 style="font-weight: bold; text-align: center; color: #910000;">Загрузка производства</h5>
            <table id="workpowerManufacturingTable" class="display compact" style="width:100%; font-size: 11px;"></table>
        </div>
        <div class="col-lg-7">
            <br />
            <h5 style="font-weight: bold; text-align: center; color: #910000;">ХССПО (тыс.)</h5>
            <br />
            <div id="hssPO" style="margin: 0 auto"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <div id="remainingWork" style="max-height: 250px; height: 250px; margin: 0 auto;"></div>
        </div>
        <div class="col-lg-6">
            <div id="remainingWorkE" style="max-height: 250px; height: 250px; margin: 0 auto;"></div>
        </div>
    </div>
</div>
<hr />
<div id="orderModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" id="headeBlock">
                    <div class="col-lg-4" id="divOrderNames">
                        <p id="orderNumber" class="font-weight-normal"></p>
                        <p id="prjContractName" class="font-weight-normal"></p>
                        <p id="prjName" class="font-weight-normal"></p>
                    </div>
                    <div class="col-lg-2" id="criticalDateOrder">
                        <p id="prjContractDateSh" class="font-weight-normal"></p>
                        <p id="prjDateSh" class="font-weight-normal"></p>
                        <p id="prjShState" class="font-weight-normal"></p>
                    </div>
                    <div class="col-lg-2" id="gistPercentComplitedDevision">
                        <div id="percentDevisionComplited"></div>
                    </div>
                </div>
                <hr />
                <div class="row" id="criticalRoadBlock">
                    <div class="col-lg-12">
                        <label>Критический путь:</label>
                        <div id="criticalRoad"></div>
                    </div>
                </div>
                <hr />
                <div class="row" id="tasksBlock">

                    <div class="col-lg-12">
                        <label>Статусы полуфабрикатов/вех:</label>
                        <div id="tasksCardPool"></div>
                    </div>
                </div>
                <hr />
                <div class="row" id="cmoOrders">
                    <div class="col-lg-12">
                        <table id="tableCMOOrder" class="display compact" style="width:100%; font-size: 11px;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="commentsModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="commentsTable" class="display compact" style="width:100%; font-size: 11px;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>