@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/DashboardBP/Views/Shared/_LayoutDashboardBP.cshtml";
}
<head>
    <script src="~/Content/Highcharts/highcharts-gantt.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="~/Content/Highcharts/exporting.js"></script>
    <script src="~/Areas/DashboardBP/Content/DashboardBPJS.js"></script>
</head>
<div class="row">
    <div class="col-lg-2">
        <h5 id="periodReportString" style="font-weight: bold; color: #910000"></h5>
    </div>
    <div class="col-lg-2">
        <div id="hSSPlanToYear"></div>
    </div>
    <div class="col-lg-2">
        <div id="remainingHss"></div>
    </div>
    <div class="col-lg-2">
        <div id="retePlan"></div>
    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="projectPortfolio"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <div id="containerHssHistory"></div>
    </div>
    <div class="col-lg-1"> </div>
    <div class="col-lg-1"> </div>
    <div class="col-lg-1"> </div>
    <div class="col-lg-1"> </div>
</div>
<div class="row">
    <div class="col-lg-2"><div id="sp1"></div></div>
    @*<div class="col-lg-1"><div id="sp2Bar"></div></div>
        <div class="col-lg-1"><div id="sp3Bar"></div></div>
        <div class="col-lg-1"><div id="sp4Bar"></div></div>
        <div class="col-lg-1"><div id="sp5Bar"></div></div>
        <div class="col-lg-1"><div id="sp6Bar"></div></div>
        <div class="col-lg-1"><div id="sp7Bar"></div></div>
        <div class="col-lg-1"><div id="sp8Bar"></div></div>
        <div class="col-lg-1"><div id="sp9Bar"></div></div>
        <div class="col-lg-1"><div id="sp10Bar"></div></div>
        <div class="col-lg-1"><div id="sp11Bar"></div></div>
        <div class="col-lg-1"><div id="sp12Bar"></div></div>*@
</div>

