@{
    Layout = "~/Areas/Service/Views/Shared/_LayoutServiceAdminCard.cshtml";
}
<head>
    <script src="~/Areas/Service/Content/Scripts/Service_TypeCorrespondenceCRUD.js"></script>
</head>
<p>Справочник "Тип рекламационной корреспонденции":</p>
<button type="button" class="btn-xs btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-sm-1">Действие</th>
            <th class="col-sm-1">Ид.</th>
            <th class="col-sm-8">Наименование</th>
            <th class="col-sm-2">Активная запись</th>
        </tr>
    </thead>
    <tbody class="tbody"></tbody>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="id">Ид.:</label>
                        <input type="text" class="form-control" id="id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="name">Наименование: </label>
                        <input type="text" class="form-control" id="name" />
                    </div>
                    <div class="form-group">
                        <label for="active">Активная запись: </label>
                        <input type="checkbox" checked="checked" id="active" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Добавить</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Обновить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
            </div>
        </div>
    </div>
</div>