@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Deb/Views/Shared/_LayoutDeb.cshtml";
}
<head>
    <script src="~/Areas/Deb/Contant/DSetup.js?v1.0"></script>
    <style>
        .modal.modal-wide .modal-dialog {
            width: 90%;
        }

        .modal-wide .modal-body {
            overflow-y: auto;
        }

        .colu-200 {
            min-width: 200px;
        }

        .colu-300 {
            min-width: 300px;
        }
    </style>
</head>
<div class="row">
    <div class="col-md-12">
        <table id="myTable" class="table table-hover table-striped" style="width:100%;"></table>
    </div>
</div>