@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Reclamation/Views/Shared/_LayoutReclamationOTK.cshtml";
}
<head>
    <script src="~/Areas/Reclamation/Content/ReclamationList.js"></script>
</head>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn-xs btn-primary" data-toggle="modal" data-target="#orderModal" onclick="clearTextBox();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        <table id="myTable" class="table table-hover table-striped" style="width:100%;">
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>