@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/DashboardKO/Views/Shared/_LayoutDashboardKO.cshtml";
}
<head>
    <script src="~/Content/Highcharts/highcharts-gantt.js"></script>
    <script src="~/Content/Highcharts/highcharts.js"></script>
    <script src="~/Content/Highcharts/highcharts-more.js"></script>
    <script src="~/Content/Highcharts/exporting.js"></script>
    <script src="~/Areas/DashboardKO/Content/DashboardKOJS.js?v1.0"></script>
</head>
<div class="row">
    <div class="col-lg-12">
        <h5 id="periodReportString" style="font-weight: bold; color: #910000"></h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="quartalUsersResult" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="usersM1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="usersM2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="usersM3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h5 style="font-weight: bold; text-align: center; color: #910000">Конструкторские бюро</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="quartalDevisionResult" style="max-height: 150px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="DevisionResultM1" style="max-height: 150px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="DevisionResultM2" style="max-height: 150px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="DevisionResultM3" style="max-height: 150px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h5 style="font-weight: bold; text-align: center; color: #910000">Оставшиеся тр-ты сотрудников КБМ</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="remainingWorkAll" style="max-height: 250px; height: 250px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="remainingWork" style="max-height: 250px; height: 250px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h5 style="font-weight: bold; text-align: center; color: #910000">Оставшиеся тр-ты сотрудников КБЭ</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="remainingWorkAllE" style="max-height: 250px; height: 250px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="remainingWorkE" style="max-height: 250px; height: 250px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h5 style="font-weight: bold; text-align: center; color: #910000">Оставшиеся тр-ты бюро</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="remainingWorkDevisionAll" style="max-height: 200px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="remainingWorkDevision" style="max-height: 200px; height: 200px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div id="hssKBM" style="margin: 0 auto"></div>
    </div>
    <div class="col-lg-4">
        <div id="hssKBE" style="margin: 0 auto"></div>
    </div>
    <div class="col-lg-4">
        <div id="hssPO" style="margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h5 style="font-weight: bold; text-align: center; color: #910000">Отработанное время сотрудниками</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="timeshhet"></div>
    </div>
</div>