@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/DashboardKO/Views/Shared/_LayoutDashboardKO.cshtml";
}
    <head>


        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>


        <script src="~/Areas/DashboardBP/Content/DashboardKOJS.js?v0.0"></script>
    </head>

<div class="row">
    <div class="col-lg-6">
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        @*<div id="hSSPlanToYear"></div>*@
    </div>
</div>