@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/DashboardKO/Views/Shared/_LayoutDashboardKO.cshtml";
}
<head>
    <script src="~/Content/Highcharts/highcharts-gantt.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="~/Content/Highcharts/exporting.js"></script>
    <script src="~/Areas/DashboardBP/Content/DashboardBPJS.js?v1.0"></script>
</head>
<div class="row">
    <div class="col-lg-6">
        <div id="quartalUsersResult" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">

    </div>
</div>