@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/DashboardKO/Views/Shared/_LayoutDashboardKO.cshtml";
}
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="~/Content/Highcharts/highcharts.js"></script>
    <script src="~/Content/Highcharts/highcharts-more.js"></script>
    <script src="~/Content/Highcharts/exporting.js"></script>
    <script src="~/Areas/DashboardKO/Content/DashboardKOJS.js?v1.7"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/bullet.js"></script>
    <style>
        #container1 {
            max-width: 800px;
            height: 115px;
            margin: 1em auto;
        }

        #container2, #container3 {
            max-width: 800px;
            height: 85px;
            margin: 1em auto;
        }

        .hc-cat-title {
            font-size: 13px;
            font-weight: bold;
        }
    </style>
</head>
<div class="row">
    <div class="col-lg-12">
        <h5 id="periodReportString" style="font-weight: bold; color: #910000"></h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="quartalUsersResult" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="usersM1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="usersM2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="usersM3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h5 style="font-weight: bold; text-align: center; color: #910000">Конструкторские бюро</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="quartalDevisionResult" style="max-height: 150px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="DevisionResultM1" style="max-height: 150px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="DevisionResultM2" style="max-height: 150px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="DevisionResultM3" style="max-height: 150px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h5 style="font-weight: bold; text-align: center; color: #910000">Оставшиеся тр-ты сотрудников КБМ</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="remainingWorkAll" style="max-height: 250px; height: 250px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="remainingWork" style="max-height: 250px; height: 250px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h5 style="font-weight: bold; text-align: center; color: #910000">Оставшиеся тр-ты сотрудников КБЭ</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="remainingWorkAllE" style="max-height: 250px; height: 250px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="remainingWorkE" style="max-height: 250px; height: 250px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h5 style="font-weight: bold; text-align: center; color: #910000">Оставшиеся тр-ты бюро</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="remainingWorkDevisionAll" style="max-height: 200px; height: 200px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-6">
        <div id="remainingWorkDevision" style="max-height: 200px; height: 200px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div id="hssKBM" style="margin: 0 auto"></div>
    </div>
    <div class="col-lg-4">
        <div id="hssKBE" style="margin: 0 auto"></div>
    </div>
    <div class="col-lg-4">
        <div id="hssPO" style="margin: 0 auto"></div>
    </div>
</div>


@*<div class="row">
    <div class="col-lg-12">
        <h5 id="periodReportUsersKBMString" style="font-weight: bold; text-align:center; color: #910000"></h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div id="container1" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-4">
        <div id="container2" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-4">
        <div id="container3" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div id="container4" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-4">
        <div id="container5" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-4">
        <div id="container6" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div id="container7" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h5 id="periodReportUsersKBEString" style="font-weight: bold; text-align:center; color: #910000"></h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div id="container8" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-4">
        <div id="container9" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-4">
        <div id="container10" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div id="container11" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-4">
        <div id="container12" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-4">
        <div id="container13" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div id="container14" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
    <div class="col-lg-4">
        <div id="container15" style="min-width: 95px; height: 95px; margin: 0 auto"></div>
    </div>
</div>*@


<div class="row">
    <div class="col-lg-12">
        <h5 style="font-weight: bold; text-align: center; color: #910000">Отработанное время сотрудниками</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div id="timesheetContainer"></div>
    </div>
    <div class="col-lg-6">
        <div id="timesheetContainer"></div>
    </div>
</div>