@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PZ/Views/Shared/_LayoutPZ.cshtml";
}
<head>
    <script src="~/Areas/PZ/Contant/OrdersList.js"></script>
</head>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#advancedSearchModal" id="advancedsearch-button"> Search </button>
        <table id="myTable" class="display compact" style="width:100%;"></table>
    </div>
</div>