@model Wiki.ServiceRemarks
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ServiceReclamations/Views/Shared/_LayoutServiceReclamations.cshtml";
}
<head>
    <script src="~/Areas/Reclamation/Content/ReclamationList.js"></script>
    <link href="~/Content/Chosen/chosen.css" rel="stylesheet" />
    <script src="~/Content/Chosen/chosen.jquery.min.js"></script>
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://tpserver/PWA/Projects.aspx">Проекты</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a onclick="return loadData(1);">Активные</a></li>
            <li><a onclick="return loadData(2);">Закрытые</a></li>
            <li><a onclick="return loadData(3);">Все</a></li>
            <li>
                <a style="color:crimson" href="/Account/Login/">
                    @{Html.RenderAction("RenderUserMenu", "Marks"); }
                </a>
            </li>
            <li><a id="pageData"></a></li>
        </ul>
    </div>
</nav>
<button id="btnAddNewReclamations" type="button" class="btn-xs btn-primary" data-toggle="modal" data-target="#createOrderModal" onclick=clearTextBox()>Зарегистрировать рекламацию</button>


<div id="reclamationModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(model => model.id)
                <div class="row">
                    <div class="col-lg-4">
                        <label>№заказа/ов:</label>
                        @Html.ListBox("id_PlanZakaz", ViewBag.id_PlanZakaz as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                    <div class="col-lg-4">
                        <label>Тип/ы заказываемых ТМЦ:</label>
                        @Html.ListBox("id_CMO_TypeProduct", ViewBag.id_CMO_TypeProduct as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                </div>
                <hr />

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="update();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    var userGroupId = @ViewBag.userGroupId;
</script>